@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Exo:ital,wght@0,100..900;1,100..900&family=Lilita+One&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

body {
  background-color: rgb(203, 204, 204);
  font-size: px;
  font-family: 'Black Ops One', cursive;
}

img {
  height: 80px;
  border: 3px solid black;
  border-radius: 20px;
}

h1 {
  border: 5px solid black;
  margin: auto;
  padding: 10px;
  width: 95%;
  background-color: beige;
  border-radius: 20px;
  box-shadow: 10px 10px 10px black;
}

h3 {
  border: 3px solid black;
  padding: 5px;
  background-color: rgb(107, 243, 107);
  margin-top: -0px;
  border-radius: 20px;
}

.aviso {
  margin-top: 15px;
  width: 30%;
  border-radius: 20px;
  box-shadow: 10px 10px 10px black;
}

.carrito-de-compras-y-calculo-de-productos {
  margin-top: 10px;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  padding: 10px;
}

.carrito-de-compras {
  border: 5px solid black;
  padding: 10px;
  background-color: rgb(253, 175, 72);
  border-radius: 20px;
  box-shadow: 10px 10px 10px black;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  column-gap: 20px;
}

.contenedor-de-imagen {
  background-color: aliceblue;
  border: 5px solid black;
  height: 150%;
}

.tus-productos {
  width: 420%;
  margin-top: 60px;
}

.calculo-de-productos {
  margin-left: 20px;
  border: 5px solid black;
  padding: 10px;
  height: 0%;
  background-color: rgb(253, 175, 72);
  border-radius: 20px;
  box-shadow: 10px 10px 10px black;
}

.input-y-button {
  margin-top: -20px;
}

.input {
  border: 3px solid black;
  width: 63%;
  font-family: 'Black Ops One', cursive;
  text-align: center;
}

.button {
  margin-top: 10px;
  border: 3px solid black;
  width: 63%;
  font-family: 'Black Ops One', cursive;
}

.button:hover {
  transition: 1s;
  margin-top: 10px;
  border: 3px solid black;
  width: 63%;
  font-family: 'Black Ops One', cursive;
  background-color: rgb(61, 255, 93);
}

.productos-disponibles {
  margin-top: 10px;
  width: 30%;
  box-shadow: 10px 10px 10px black;
}

.contenedor-de-productos {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 95%;
  margin-top: -20px;
}

.chasis {
  background-color: azure;
  display: flex;
  text-align: center;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 10px 15px 10px;
  padding: 10px;
  width: 23%;
}

.nombre-precio {
  text-align: center;
  margin: 10px;
}

.disco-duro {
  background-color: rgb(235, 103, 103);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 10px 15px 10px;
  padding: 10px;
  width: 25%;
}

.nombre-precio {
  text-align: center;
  margin: 10px;
}

.disipadores {
  background-color: rgb(235, 151, 103);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 10px 15px 10px;
  padding: 10px;
  width: 25%;
}

.nombre-precio {
  text-align: center;
  margin: 10px;
}

.fuente-de-alimentacion {
  background-color: rgb(151, 235, 103);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 10px 15px 10px;
  padding: 10px;
  width: 30%;
}

.nombre-precio {
  text-align: center;
  margin: 10px;
}

.memoria-ram {
  background-color: rgb(103, 235, 154);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 10px 15px 10px;
  padding: 10px;
  width: 25%;
}

.nombre-precio {
  text-align: center;
  margin: 10px;
}

.placa-base {
  background-color: rgb(176, 103, 235);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 10px 15px 10px;
  padding: 10px;
  width: 25%;
}

.nombre-precio {
  text-align: center;
  margin: 10px;
}

.procesador {
  background-color: rgb(235, 233, 103);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 10px 15px 10px;
  padding: 10px;
  width: 23%;
}

.nombre-precio {
  text-align: center;
  margin: 10px;
}

.tarjeta-de-red {
  background-color: rgb(103, 187, 235);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 10px 15px 10px;
  padding: 10px;
  width: 23%;
}

.nombre-precio {
  text-align: center;
  margin: 10px;
}

.tarjeta-grafica {
  background-color: rgb(235, 103, 103);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 10px 15px 10px;
  padding: 10px;
  width: 23%;
}

.nombre-precio {
  text-align: center;
  margin: 10px;
}





